@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&family=Work+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";

/* --------------------------------------------------
   Fonts substitution notice:
   Original design used "Sofia Pro" and "Suisse Int’l"
   → replaced with free Google Fonts "Nunito" and "Work Sans"
   (for testing/demo purposes only)
-------------------------------------------------- */

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  color: #01005B;
}

h1 {
  font-weight: 400;
  font-style: normal;
  font-size: clamp(26px, 4vw, 38px);
  line-height: clamp(34px, 5vw, 45px);
  letter-spacing: 0.04em;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1440px) {

}
 /* sm: '640px',   
    md: '768px',   
    lg: '1024px',  
    xl: '1280px',   */